{% extends "auth_core/auth_core_base.html" %}
{% block content %}
<div class="container">
<h1>Welcome to Django Auth App</h1>
    <h2>{{ message }}</h2>
    {% if user.is_authenticated %}
    <h4><a href="{% url 'logout' %}">log out</a></h4>
    {% else %}
    <h4><a href="{% url 'login' %}">log in</a></h4>
    {% endif %}
    <h2><a href = "{% url 'auth_core:good' %}">Go to the good stuff...</a></h2>
    <h2><a href = "{% url 'auth_core:other' %}">Go to the other stuff...</a></h2>

</div>
{% endblock content %}

