<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hero.name }}</title>
</head>
<body>
<h1>{{ hero.name }}</h1>
<h2>Secret Identity: {{ hero.secret_identity | upper }}</h2>
<h2>Secret Identity (short):
    {{ hero.secret_identity | slice:"0:5" }}
</h2>
<h2>Real Name: {{ hero.real_name | upper }}</h2>
<h2>First enemy: {{ hero.enemies.all.0 }}</h2>
<h3>Raw enemies list: {{ hero.enemies.all }}</h3>
<h3>Number of enemies: {{ hero.enemies.all | length }}</h3>
<h3>Enemies: {{ hero.enemies.all | join:", " }}</h3>
<h3>Enemies: <br/>{{ hero.enemies.all | join:"<br/>" }}</h3>

</body>
</html>
